* {
  font-family: 'Open Sans', sans-serif;
}

.has-text-green {
  color: $green!important;
}

.has-text-lightgreen {
  color: $lightGreen!important;
}

.page-title {
  font-weight: 600;
  font-size: 3.2rem;
}

@media screen and (max-width: 1087px) {
  .page-title {
    font-size: 2.4rem;
  }
}