#events {
  .events-to-come {
    .box {
      height: 100%;
      padding: 2.5rem;
    }
    .day {
      font-size: 4rem;
    }
    .subtitle {
      margin-bottom: 0.5rem;
    }
  }
  .promoted-event {
    padding-top: 6rem;
    padding-bottom: 6rem;
    .day {
      font-size: 4rem;
    }
  }
}