#neurofibromatosis {
  .faq {
    .subtitle {
      padding-right: 90px;
    }
    .box {
      border: 1px solid #ddd;
    }
    .level {
      position: relative;
      margin: 0;
    }
    .more {
      position: absolute;
      top: -20px;
      height: 65px;
      right: -20px;
      font-size: 1.75rem;
      &:after {
        content: '✕';
        transform: rotate(45deg);
      }
      &:focus {
        box-shadow: none!important;
      }
      &.active {
        &:after {
          content: '✕';
          transform: rotate(0deg);
        }
      }
    }
    .content {
      margin-top: 2rem;
    }
  }
}