.is-member-banner {
  background-color: #414647;

  .is-left-part {
    padding: 8rem 7rem;
  }
  
  .is-background-image {
    background-image: url('../images/random-questions-to-ask-a-girl-main-in-post.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.is-mission-banner {
  .is-left-part {
    padding: 8rem 7rem;
  }
  
  .is-right-part {
    padding: 8rem 7rem;
    background-color: #c8dd92;
  }
}

.is-giving-banner {

  .is-left-part {
    
  }
  
  .is-right-part {
    background-color: #f3faf9;
    padding: 8rem 7rem;
  }
}