.is-member-banner {
  background-color: #414647;

  .is-left-part {
    padding: 8rem 7rem;
  }
  
  .is-background-image {
    background-image: url('../images/random-questions-to-ask-a-girl-main-in-post.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}