.is-member-banner {
  background-color: #414647;
  overflow: hidden;

  .is-left-part {
    padding: 8rem 7rem;
  }
  
  .is-background-image {
    background-image: url('../images/girl-laughing.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.is-mission-banner {
  position: relative;
  top: -2px;
  overflow: hidden;
  .is-left-part {
    padding: 8rem 7rem;
  }
  
  .is-right-part {
    padding: 8rem 7rem;
    background-color: #c8dd92;
  }
}

.is-become-member-banner,
.is-giving-banner {
  overflow: hidden;

  .button-prev,
  .button-next {
    outline: 0;
  }
  
  .is-right-part {
    background-color: $lightBlue;
    padding: 8rem 7rem;
  }
}

.is-become-member-banner {
  position: relative;
  top: -2px;
}

.why-become-member-banner {
  padding: 4rem;
  background-color: $lightGreen;
  .column {
    margin-top: 3rem;
  }
  .separator {
    height: 2px;
    width: 50px;
    background-color: $green;
    display: block;
    margin-bottom: 1.5rem;
  }
}