#navbar {
  #primary-menu {
    display: flex;
  }

  .menu-primary-navigation-container {
    display: flex;
    align-items: center;
  }

  .navbar-item a {
    color: #363636;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .section {
    width: 100%;
    display: flex;
  }

  .navbar-brand > .navbar-item {
    padding-left: 0;
  }

  .navbar-end > .navbar-item {
    &:last-child {
      padding-right: 0;
    }
  }
  .burger {
    position: absolute;
    right: 0;
  }
}

@media screen and (min-width: 1088px) {
  .navbar > .container .navbar-menu, .container > .navbar .navbar-menu {
    margin-right: 0rem;
  }
  .navbar > .container .navbar-brand, .container > .navbar .navbar-brand {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 1087px) {
  #navbar-primary {
    position: absolute;
    left: 0;
    width: 100%;
    top: 7rem;
    padding-left: 0.75rem;
  }

  #primary-menu {
    flex-direction: column;
  }
}